.button{
    margin: 10px;
    padding: 6px 12px 6px 12px;
    font-size: 18px;
    color: white;
    border : 1px solid black;
    border-radius: 10px;
    color : black;
}
.bgPrimary{
    color : white;
    background-color: rgb(22, 128, 119);
}
.bgRed{
    background-color: rgb(252, 27, 11);
}
.bgGreen{
    background-color: rgb(34, 247, 31);
}