.button{
    margin: 10px;
    padding: 8px;
    font-size: 18px;
    border: 1px solid black;
    color: rgb(19, 18, 18);
    border-radius: 10px;
}
.bgPrimary{
    background-color: rgb(22, 128, 119);
}
.bgRed{
    background-color: rgb(252, 27, 11);
}
.bgGreen{
    background-color: rgb(34, 247, 31);
}